# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np


# Dados fornecidos
dados = {
    'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
    'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

# Criar a série do pandas
serie_temperatura = pd.DataFrame(dados)

# Exibir a série
print(serie_temperatura)

    ano  anomalia_termica
0  1900             -0.08
1  1920             -0.27
2  1940              0.12
3  1960             -0.03
4  1980              0.26
5  2000              0.40
6  2020              1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:
# Dados fornecidos
dados = {
    'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

# Índices (anos)
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# Criar a série do pandas com os anos como índices
serie_temperatura = pd.Series(dados['anomalia_termica'], index=anos, name='anomalia_termica')

# Exibir a série
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: anomalia_termica, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}


# Dicionário fornecido
dic_temperaturas = {1900: -0.08, 1920: -0.27, 1940: 0.12, 1960: -0.03, 1980: 0.26, 2000: 0.40, 2020: 1.02}

# Criar a série do pandas
serie_temperaturas = pd.Series(dic_temperaturas, name='anomalia_termica')

# Exibir a série
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: anomalia_termica, dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
# ndarray
arr = np.random.normal(100, 10, (20, 3))

# Transformar o ndarray em um DataFrame
dataframe = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])

# Exibir o DataFrame
print(dataframe)

       Coluna1     Coluna2     Coluna3
0    85.277720  113.196763   98.857060
1    97.567115   95.871973   90.741845
2    85.336232  111.211516  101.037916
3   103.304835  110.125090  101.832576
4   106.126527  108.601722  124.251470
5   108.445057  103.060798  103.785102
6   109.986323  101.266321   97.314568
7    97.382393  110.835565  116.749134
8   103.313753  100.405534  115.948942
9   105.959334   88.525014   91.842807
10   91.624892  101.572185  120.605390
11   94.975494  103.799407  102.764745
12  114.151247  100.729145   85.851577
13  111.217754   98.644148  115.094759
14   98.236618   95.185433  102.179249
15  125.045044  106.819333  113.903867
16  130.956747   87.442701  105.875334
17   99.606496   96.193847   94.801651
18   75.735217  104.762078  117.976781
19   93.806392   98.400106   99.871414

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [9]:
# ndarrayx1x2x3
arr = np.random.normal(100, 10, (20, 3))

# Transformar o ndarray em um DataFrame com índices e colunas nomeadas
dataframe = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
dataframe.index = range(1, 21)  # Nomear os índices das linhas de 1 a 20

# Exibir o DataFrame
print(dataframe)

            x1          x2          x3
1   103.279458  102.262096  108.243778
2   101.597933   77.467532   89.172006
3   101.723378  118.037774   75.795594
4   110.687918   84.883652  103.967708
5   103.842968  102.779861  105.099876
6   102.550833   95.714584  100.085245
7    97.445670  102.664404   92.456869
8   104.458313   93.531783   96.426677
9    87.012445  112.716337  102.348751
10  107.940542  102.946440  100.168814
11   97.903041  100.289692   86.910090
12  109.146246   89.604318  117.951674
13  102.330521  102.416469   99.249375
14   99.754468  103.065296  113.870873
15   94.471200   95.551984  112.751726
16   88.828198  103.364278   97.735673
17  113.402188  104.747654  116.181511
18  101.907745   74.083354  113.911444
19  114.661811   92.950629   79.126046
20  105.735705   85.903303   96.911293

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [10]:
#  ndarraymédia
arr = np.random.normal(100, 10, (20, 3))

# Transformar o ndarray em um DataFrame com índices e colunas nomeadas
dataframe = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
dataframe.index = range(1, 21)  # Nomear os índices das linhas de 1 a 20

# Adicionar a nova coluna "media"
dataframe['media'] = dataframe.mean(axis=1)

# Exibir o DataFrame com a nova coluna
print(dataframe)

            x1          x2          x3       media
1    93.352040   88.255847   76.107430   85.905106
2    98.375607   97.581440   92.824043   96.260363
3   116.071268   84.613485   97.795685   99.493480
4   121.590051   80.925853  105.804058  102.773321
5   100.783488  103.786858  100.864988  101.811778
6    89.748474  110.539749   99.429835   99.906019
7   110.322136   82.865724  107.201003  100.129621
8    81.546629   90.460220  117.641576   96.549475
9    98.635410  110.249827   98.082646  102.322628
10  102.167557  101.823289   94.976263   99.655703
11  111.736047  116.372141   89.911716  106.006635
12  104.903386   97.033528  101.447826  101.128247
13  104.270205  114.270807  101.222407  106.587807
14  107.853905  108.023914  114.393668  110.090495
15   77.966091  116.016822  103.465644   99.149519
16  109.338376   96.046695  101.028163  102.137745
17  120.549332  107.193637   85.753717  104.498895
18  128.473332   98.883502   91.550105  106.302313
19   94.554249   91.140821  100.337517   95.344196
20  103.620041  103.063923   81.705541   96.129835

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [12]:
# ndarraylog_med
arr = np.random.normal(100, 10, (20, 3))

# Transformar o ndarray em um DataFrame com índices e colunas nomeadas
dataframe = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
dataframe.index = range(1, 21)  # Nomear os índices das linhas de 1 a 20

# Adicionar a nova coluna "media"
dataframe['media'] = dataframe.mean(axis=1)

# Adicionar a nova coluna "log_med"
dataframe['log_med'] = np.log(dataframe['media'])

# Exibir o DataFrame com as novas colunas
print(dataframe)

            x1          x2          x3       media   log_med
1   101.574799  112.141215  113.541307  109.085774  4.692134
2    74.395298   94.148264   91.545595   86.696386  4.462412
3   110.628214  105.087869  108.382666  108.032917  4.682436
4   100.234115  107.778022  106.340442  104.784193  4.651903
5    72.247740   97.853402   92.414478   87.505207  4.471698
6   101.267364  110.942056  109.080552  107.096657  4.673732
7    97.966069   88.528694   99.498293   95.331019  4.557355
8   107.348819  111.072675   72.540600   96.987365  4.574581
9   108.014217   82.964543  116.344245  102.441001  4.629287
10   88.070197  110.360700   99.096988   99.175962  4.596896
11   94.211310  120.311075  110.491855  108.338080  4.685257
12   97.025868   81.326012   96.365812   91.572564  4.517132
13  115.982066   96.119537  107.361359  106.487654  4.668029
14   92.866751  105.635459   80.290918   92.931043  4.531858
15  117.919761  118.873745   89.234127  108.675878  4.688370
16   96.965040   87.638273   95.228309   93.277207  4.535576
17   73.335933  102.020802  114.943402   96.766712  4.572303
18   91.121959   84.940335   98.117788   91.393361  4.515173
19   92.226626   94.835643  109.314500   98.792256  4.593019
20   93.017496   96.984534   92.874100   94.292043  4.546397